.flex{
  display: flex;
  &_row{
    justify-content: space-between;
    flex-direction: row;
  }
  &_column{
    justify-content: flex-start;
    flex-direction: column;
  }
  &_start{
    align-items: flex-start;
  }
  &_center{
    align-items: center;
  }
}