.user{
  padding-top: 20px;
  width: 900px;
  margin: auto;
  &__avatar{
    width: 300px;
    height: 300px;
  }
  &__main-info{
    margin-bottom: 30px;
  }
  &__info{
    width: 300px;
  }
  @media screen and (max-width: 1300px) {
    width: 700px;
  }
}
.br{
  border-right: solid 3px #2ab0db;
  width: 3px;
  &_bg{
    height: 300px;
  }
  &_sm{
    border-right: solid 1px grey;
    height: 50px;
  }
}
.half{
  width: 400px;
  border-bottom: solid 1px grey;
  padding-bottom: 10px;
  @media screen and (max-width: 1300px) {
    width: 300px;
  }
}