<div class="user">
  <div class="user__main-info flex flex_row flex_center">
    <div class="avatar__wrapper">
      <!-- Добавьте свою фотографию в папку src/img и задайте ссылку на нее ниже в атрибут src -->
      <img src="./img/avatar.jpg" alt="" class="user__avatar avatar">
    </div>
    <div class="br br_bg"></div>
    <div class="user__info flex flex_column flex_start">
      <!-- Введите информацию о себе в соответсвующие теги -->
      <div class="label__wrapper">
        <span class="label">Имя</span>
        <h5 class="user__name">Иван Ивонович Иванов</h5>
      </div>
      <div class="label__wrapper">
        <span class="label">Возраст</span>
        <h5 class="user__name">21 год</h5>
      </div>
      <div class="label__wrapper"><!-- Выделите названия Универа, курсивом или жирным, добавим класс -->
        <span class="label">Образование</span>
        <h5 class="user__education">3 курс факультет Фотоники и оптоинформатики</h5>
      </div>
    </div>
  </div>
  <div class="user__extra-info">
    <div class="flex flex_row flex_center">
      <div class="label__wrapper half">
        <span class="label">Навыки</span>
        <ul class="user__skills">
          <!-- Добавьте информацию о своих навыках -->
          <li>Python</li>
          <li>Math</li>
          <li>UI/UX design</li>
          <!-- Добавьте пункт списка сюда -->
        </ul>
      </div>
      <div class="br br_sm"></div>
      <div class="label__wrapper half">
        <span class="label">Ожидания от курса</span>
        <ol class="user__expectation">
          <!-- Добавьте информацию о своих ожиданиях от курса -->
          <li>В первую очередь ожидаю</li>
          <li>Также ожидаю</li>
          <li>Было бы неплохо</li>
          <!-- Добавьте пункт списка сюда -->
        </ol>
      </div>
    </div>
    <div class="label__wrapper">
      <span class="label">Драйвер</span>
      <div class="user__driver paragraph__wrapper">
        <p class="paragraph">Я учавствую чтобы ...</p>
        <p class="paragraph">На фестивале Легко я бы хотел выступить с интересным проектом о ...</p>
        <!-- Добавьте абзац сюда -->
      </div>
    </div>
    <div class="label__wrapper">
      <span class="label">Интересы, увлечения</span>
      <div class="user__hobbies paragraph__wrapper">
        <p class="paragraph">C 2015 года занимаюсь UI/UX дизайном ...</p>
        <p class="paragraph">Прошлым летом научился делать олли ...</p>
        <!-- Добавьте абзац сюда -->
      </div>
    </div>
    <div class="label__wrapper">
      <span class="label">Опыт в web разработке</span>
      <div class="user__hobbies paragraph__wrapper">
        <p class="paragraph">Менял код элемента в devTools</p>
        <!-- Добавьте абзац сюда -->
      </div>
    </div>
  </div>
</div>
