p{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: #666666;
  margin-bottom: 10px;
}

span.label{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: normal;
  color: #666666;
  margin-bottom: 10px;
}

h5{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  color: #666666;
  margin-bottom: 10px;
}
*{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #666666;
}